<h1>Welcome to shorty, the cool URL shortener!</h1>

<h2>Paste the link to shorten</h2>

<main>
  <div data-controller="form">
    <%= form_with scope: :link, url: links_path, method: :post do |form| %>
      <%= form.text_field :url, size: "80", placeholder: "Paste long url and shorten it", 
      'data-form-target' => "link",
      'data-action' => "change->form#countChar" %>
      <%= form.submit "Shorten" %>
    <% end %>
    <div>
      Number of characters: <span data-form-target="counter">0</span>
    </div>
  </div>
</main>