<h1>Here is your link: </h1>

<div data-controller="clipboard">
  <h2 data-action="load@window->clipboard#showSaved">http://localhost:3000/<%= @link.shortened %></h2>
  <h2 data-clipboard-target="chars">You saved 0 characters!</h2>

  <input data-clipboard-target="source" type="text" 
        value="http://localhost:3000/<%= @link.shortened %>" 
        size="40" readonly>
  <button data-action="clipboard#copy" class="clipboard-button">Copy to Clipboard</button>
</div>

<div>
  <%= button_to 'Create Another', '/', method: :get %>
</div>